# LaTeX build files
*.aux
*.bbl
*.blg
*.brf
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz

# Intermediate and output files
*.dvi
*.ps

# Editor backup files
*~
*.bak
*.swp
*.tmp

# Directory for auxiliary files
auxiliary/